<html>

<head>
    <title>Faculty Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">AssistsU Chat</a>
        </nav>
        <div class="text-center">
            <div class="alert alert-success">Password reset Success</div>
            <a href="/faculty">Click here goto Login</a>
        </div>
    </div>
</body>

</html>