<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>
<style>
</style>

<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">AssistsU Chat</span>
    </nav>
    <div class="row">
        <a class="card col card-body btn btn-default" href="/student">
            <i class="fas fa-user-graduate"></i>
            <br>
            Student Section
        </a>
        <a class="card col card-body btn btn-default" href="/faculty">
            <i class="fas fa-chalkboard-teacher"></i>
            <br>
            Faculty Section
        </a>
    </div>
</body>

</html>