<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">AssistsU Chat</a>
    </nav>
    <div class="alert alert-danger text-center">
        Page Not Found
    </div>
</body>

</html>